.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logoContainer {
    width: 200px; /* ajusta el tamaño según sea necesario */
  }
  
  .logo {
    width: 100%;
  }
  
  .welcomeMessage {
    margin-top: 20px; /* ajusta el margen superior según sea necesario */
    text-align: center;
  }
  
  .entrar {
    
    color: #FFFFFF;
    background-color: var(--color-botones);
    border: none;
    margin: 0;
    margin-top: 5rem;
    width: 129px;
    height: 50px;
  }
  