.divButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 3.5rem;
}

.addProductButton { 
    background-color: var(--color-botones);
    border: 1px solid var(--color-botones);
    color: var(--color-fondo-blanco);
    height: 51px;
    justify-content: center;
    padding: 16px;
    width: 182px;   
}


/*tablet*/
@media (max-width: 768px) {

    .addProductButton {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        width: 166px;     
    }  
}
  
/*mobile*/
@media only screen and (max-width: 480px) {

    .addProductButton {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        width: 133px;     
    }      
}