.addProducts {
    background-color: var(--color-fondo-login);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.75rem 0;
}

.addProducts__div {
    width: 26.4375rem;
}

.addProducts__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.addProducts__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.addProducts__input {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 1.125rem 0 1.5rem 0.75rem;
    width: 26.4375rem;
}

.addProducts__input::placeholder {
    color: var(--color-placeholder);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.addProducts__fileInput {
    background-color: var(--color-fondo-blanco);
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 1.125rem 0 1.5rem 0.75rem;
    width: 26.4375rem;
}

.profile__buttonLogin {
    background-color: var(--color-botones);
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    height: 62px;
    line-height: 21px;
    width: 26.4375rem;
}

.profile__buttonLogin:disabled {
    background-color: gray;
}

.profile_crearCuenta {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px; 
}

.profile_crearCuenta a {
    color: var(--color-botones);
    font-weight: 700; 
}

.boton_volver_profile {
    align-items: center;
    background-color: var(--color-fondo-blanco);
    border: 1px solid var(--color-botones);
    color: var(--color-botones);
    display: flex;
    height: 62px;
    justify-content: center;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.marginDivOwner {
    margin-top: 10rem;
}

.addProducts__file {
    align-items: center;
    background-color: var(--color-fondo-blanco);
    border: 1px solid var(--color-botones);
    color: var(--color-botones);
    display: flex;
    height: 51px;
    justify-content: center;
    padding: 16px;
    width: 182px;   
}


/*tablet*/
@media (max-width: 768px) {
    .profile {
        padding: 6rem 0 4.5rem 0;
    }

    .profile__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        align-items: center;
    }

    .profile__inputEmail {
        padding: 1.125rem 0 1.5rem 0.75rem;
        width: 17.1875rem;
        height: 2.5625;
    }
    
    .profile__inputPassword {
        border: none;
        border-bottom: 1px solid #c8c8c8;
        border-radius: 4px;
        padding: 1.125rem 0 1.5rem 0.75rem;
        width: 17.1875rem;
        height: 2.5625;
    }

    .profile__buttonLogin {
        width: 109px;
        height: 40px;
    }

    .boton_volver_profile {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        width: 166px;     
    }  
}

/*tablet*/
@media (max-width: 768px) {

   
}
  
/*mobile*/
@media only screen and (max-width: 480px) {

    .boton_volver_profile {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
        width: 133px;     
    }      
}